<div class="outer">
<h1>Weather information</h1>
  <hr>
  <div class="formdata">
    <div class="label">Please enter your city</div>
    <input type="text" class="input-box" [(ngModel)]="selectedCity">
    <div>
      <input type="button" class="btn" value="Submit" (click)="getWeatherData()">
      <input type="button" class="btn btn-2" value="Reset" (click)="resetWeatherData()" *ngIf="selectedCity">
    </div>

  </div>
  <hr>
  <div class="weather-outer" *ngIf="weatherData?.main">
    <div class="sec-1">
      Humidity
      <div class="val">{{weatherData?.main?.humidity}}</div>
    </div>
    <div class="sec-1">
      Current Temperature
      <div class="val">{{weatherData?.main?.temp}}</div>
    </div>
    <div class="sec-1">
      Minimum Temperature
      <div class="val">{{weatherData?.main?.temp_min}}</div>
    </div>
    <div class="sec-1">
      Maximm Temperature
      <div class="val">{{weatherData?.main?.temp_max}}</div>
    </div>

  </div>
</div>
